{% extends "main/skeleten.html" %}
{%block content%}
<br>
<div class="ui container">
    {%if not request.user.is_authenticated%}
    <h2 class="ui center aligned red icon header">
      <i class="settings icon"></i>
      <div class="content">
        YOU ARE NOT CONNECTED
        <div class="sub header">Please connect first to access your machines.</div>
      </div>
    </h2>
    {% else %}
    <div class="ui message">
      <div class="header">
        Hi, {{user.username}}, Welcome to your account
      </div>
      <ul class="list">
        <li>You can use your apps here</li>
      </ul>
    </div>
    <h2 class="center aligned ui icon header">
      <i class="universal access green large icon"></i>
      <div class="content">
        YOUR APPS
        <div class="sub header">Manage your machines here</div>
      </div>
    </h2>
        {% for container, values in data.items %}
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th class="center aligned" colspan="3">
                        {{ container }}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% if values.container_status %}

                <tr>
                <td class="right aligned collapsing">
                    <h6 class="ui center aligned green icon header"><i class="power off large icon"></i><div class="content">Machine ON</div></h6>
                </td>

                <td class="collapsing">
                    <a  href="http://localhost:{{values.port}}"><h5 class="ui left aligned">http://localhost:{{values.port}}/</h5></a>
                </td>
                <td class="right aligned collapsing">
                    <a target="_blank" href="http://localhost:{{values.port}}/vnc.html?password={{values.vnc_pass}}&path=vnc&autoconnect=true&resize=remote&reconnect=true&show_dot=true"><h6 class="ui center aligned blue icon header"><i class="desktop large icon"></i><div class="content">Direct connect</div></h6></a>
                </td>
                </tr>
                <tr>
                    <td class="center aligned collapsing">
                        VNC Password
                    </td>
                    <td><strong>{{values.vnc_pass}}</strong></td>
                <td>
                    <a  href="{% url "main:stop_container" app=container %}"><h6 class="ui center aligned orange icon header"><i class="pause large icon"></i><div class="content">Stop Machine</div></h6></a>
                </td>
                </tr>
                </table>
            {% else %}
                <tr>
                <td class="right aligned collapsing">
                    <h6 class="ui center aligned red icon header"><i class="power off large icon"></i><div class="content">Machine OFF</div></h6>
                </td>
                <td class="right aligned collapsing">
                    <a href="{% url "main:start_container" app=container %}"><h6 class="ui center aligned blue icon header"><i class="play large icon"></i><div class="content">Start Machine</div></h6></a>
                </td>
                </tr>
                </table>
            {% endif %}
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
