<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3">
        <item label="Gns3">
            <action name="Execute">
                <execute>/usr/local/bin/gns3</execute>
            </action>
        </item>
        <item label="Terminal">
            <action name="Execute">
                <execute>/usr/bin/lxterminal</execute>
            </action>
        </item>
		<item label="Wireshark">
            <action name="Execute">
                <execute>/usr/bin/wireshark</execute>
            </action>
        </item>
    </menu>
</openbox_menu>
